
$dark-nav-color: #e6e6e6;
/* Background Colors */

.background- {
	&primary {
		background-color: map-get($foundation-palette, primary);
	}

	&secondary {
		background-color: map-get($foundation-palette, secondary);
	}

	&success {
		background-color: map-get($foundation-palette, success);
	}

	&warning {
		background-color: map-get($foundation-palette, warning);
	}

	&light-gray {
		background-color: $light-gray;
	}

	&medium-gray {
		background-color: $medium-gray;
	}

	&dark-gray {
		background-color: $dark-gray;
	}

	&black {
		background-color: $black;
	}

	&white {
		background-color: $white;
	}

}

/* Background Colors */

.text- {
	&primary {
		color: map-get($foundation-palette, primary);
	}

	&secondary {
		color: map-get($foundation-palette, secondary);
	}

	&success {
		color: map-get($foundation-palette, success);
	}

	&warning {
		color: map-get($foundation-palette, warning);
	}

	&light-gray {
		color: $light-gray;
	}

	&medium-gray {
		color: $medium-gray;
	}

	&dark-gray {
		color: $dark-gray;
	}

	&black {
		color: $black;
	}

	&white {
		color: $white;
	}

}

.logo {
	max-width: 265px;
}

