// Text container
.hero-content {

  width: 100%;
  display: -webkit-flex;
  display: flex;
  z-index: 0;
  position: relative;

  .overlay {
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

.hero__text--white {
  font-size: 1.5625rem;
  text-align: right;
  color: $white;
  text-shadow: 2px 2px 5px $black;
  margin: 18% 15% auto;
  width: 80%;
  background: rgba(0,0,0, .5);
  padding: 20px;
  border-radius: 3px;
}